/* Search Bar */
#found{
  visibility: hidden;
  color: red;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: #f4f4f4;
  padding: 2rem;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30rem;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  outline: none;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus {
  outline: none;
}

.fa-search {
  font-size: 18px;
}


/* Card */
.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background: #fff;
  max-width: 270px;
  margin: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
  clip-path: rounded(10px); /* Clip the image to create rounded corners */
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.card-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #45a049;
}
